<app-encabezado titulo="Iniciar Sesión" icono="person"></app-encabezado>

<ion-content class="ion-padding-start">
<ion-text color="primary">
  <h1>Bienvenido</h1>
  <p>Por favor inicie sesión</p>
</ion-text>
</ion-content>

<ion-footer >
  <ion-toolbar color="dark">
    <ion-title slot="end" class="ion-align-items-center">
      <ion-button routerLink="../restablecer-pass" color="danger" class="ion-padding-bot" size="small">
        <ion-text color="dark">
          <p>Recuperar Cuenta</p>
        </ion-text>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>