<ion-header >
  
  <ion-toolbar>
    <ion-button >
      <ion-menu-button mode="ios" color="dark" menu="first"></ion-menu-button>
    </ion-button>

    
    <ion-title>
      TE LLEVO APP 
    </ion-title>
    
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-icon slot="end" name="home" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <h1 >Servicio de transporte DuocUC</h1><ion-icon name="car-sport-outline"></ion-icon>


 <ion-button expand="block" color="light" routerLink="../ingreso-usuario">Iniciar Sesión</ion-button>


</ion-content>




<app-footer></app-footer>