<ion-header [translucent]="false" class="ion-padding">
  <ion-toolbar color="dark">
    <ion-title>
      TE LLEVO APP
    </ion-title>
    <ion-icon slot="end" name="home" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <h1 >Servicio de transporte DuocUC</h1>


 <ion-button expand="block" color="light" routerLink="../ingreso-usuario">Iniciar Sesión</ion-button>


</ion-content>


<ion-footer class="ion-padding">
  <ion-toolbar color="dark">
    <ion-title slot="end" class="ion-padding-end">
      <ion-button routerLink="../restablecer-pass" color="danger" class="ion-padding-bot" size="small">
        <ion-text color="dark">
          <p>Recuperar Cuenta</p>
        </ion-text>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>
