<ion-header >
  
  <ion-toolbar>
    <ion-button >
      <ion-menu-button mode="ios" color="dark" menu="first"></ion-menu-button>
    </ion-button>

    
    <ion-title >
     
    </ion-title>
    
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-icon slot="end" name="home" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>
    
    <ion-card>
      
      <ion-card-header>
        <ion-card-subtitle>Duoc UC</ion-card-subtitle>
        <ion-card-title>
          <ion-img src="../assets/images/te-llevo-app.png"></ion-img> 
          <!-- <ion-img [src]="ava.srcimagen"></ion-img> -->
        </ion-card-title>
        <ion-button color="dark" expand="block" routerLink="../registro">
          Registrate
        </ion-button>
      </ion-card-header>
      
      <ion-card-content>
       <ion-button expand="block" color="light" routerLink="../ingreso-usuario" class="animate__animated animate__bounce">Iniciar Sesión</ion-button>
      </ion-card-content>
    </ion-card>

 

 






<app-footer></app-footer>